/* - - - - - - - - - - - - - - - - - - - - GENERAL - - - - - - - - - - - - - - - - - - - - */

body {
    background-color: #000000;
    color:antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    height: 5%;
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
    margin-top: 1%;
}

#inicio {
    text-align: right;
    text-decoration: none;
    color: antiquewhite;
    font-size:large;
    font-family: 'Righteous', cursive;
}

#sobre {
    text-align: right;
    text-decoration: none;
    color: antiquewhite;
    font-size:large;
    font-family: 'Righteous', cursive;
}

/* - - - - - - - - - - - - - - - - - - - - PÁGINA 7 - - - - - - - - - - - - - - - - - - - - */

.sect {
    display: flex;
    position: relative;
    align-items: center;
}

#portero {
    width: 100%;
}

#timbre {
    position: absolute;
    left: 2%;
    top: 18%;
    width: 12%;
    transition: 2s ease-out 100ms;
}

#timbre:hover {
    width: 12.5%;
}

#ventilador {
    position: absolute;
    right: 7%;
    top: 7.9%;
    width: 9%;
    opacity: 70%;
}

#p9 {
    position: fixed;
    padding-left: 1%;
    padding-right: 1%;
    bottom: 2%;
    right: 2%;
    max-width: 60%;
    background-color: rgb(248, 230, 212);
    color: rgb(43, 43, 43);
}
