/* - - - - - - - - - - - - - - - - - - - - GENERAL - - - - - - - - - - - - - - - - - - - - */

body {
    background-color: #000000;
    color:antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    height: 5%;
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
    margin-top: 1%;
}

#inicio {
    text-align: right;
    text-decoration: none;
    color: antiquewhite;
    font-size:large;
    font-family: 'Righteous', cursive;
}

#sobre {
    text-align: right;
    text-decoration: none;
    color: antiquewhite;
    font-size:large;
    font-family: 'Righteous', cursive;
}
/* - - - - - - - - - - - - - - - - - - - - PÁGINA 12 - - - - - - - - - - - - - - - - - - - - */


#bolsa1 {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -150%;
}

#bolsa2 {
    position: absolute;

    width: 100%;
    left: 0;
    bottom: -150%;
    }

#p18 {
    position: fixed;
    left: 0;
    top: 50%;
    max-width:60%;
    margin: 0 20%;
}

.oculto {
    color: antiquewhite;
    font-weight: normal;
    text-decoration: none;
}