/* - - - - - - - - - - - - - - - - - - - - GENERAL - - - - - - - - - - - - - - - - - - - - */

body {
    background-color: #000000;
    color:antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    height: 5%;
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
    margin-top: 1%;
}

#inicio {
    text-align: right;
    text-decoration: none;
    color: antiquewhite;
    font-size:large;
    font-family: 'Righteous', cursive;
}

#sobre {
    text-align: right;
    text-decoration: none;
    color: antiquewhite;
    font-size:large;
    font-family: 'Righteous', cursive;
}

/* - - - - - - - - - - - - - - - - - - - - PÁGINA 8 - - - - - - - - - - - - - - - - - - - - */

.sect {
    display: flex;
    position: relative;
    align-items: center;
}

#ascensor {
    width: 100%;
}

#botones {
    position: absolute;
    left: 0%;
    top: 28.55%;
    width: 9%;
    transition: 2s ease-out 100ms;
}

#botones:hover {
    width: 9.5%;
}

#p11 {
    position: fixed;
    padding-left: 1%;
    padding-right: 1%;
    top: 15%;
    right: 2%;
    max-width: 35%;
    background-color: rgb(255, 251, 247);
    color: rgb(43, 43, 43);
}

